* {
    box-sizing: border-box;
}

.input {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    max-width: 800px;
}

.section-title {
    margin-bottom: 1.5rem;
    color: #000;
}

.section-main-title {
    font-size: 1.5rem;
}

.section-sub-title {
    font-size: 1.2rem;
    font-style: italic;
}


/* ---------- Card Selection ---------- */
.card {
    --background: #fff;
    --background-chackbox: #0082ff;
    --background-image: #fff, rgba(0, 107, 175, 0.2);
    --text-color: #666;
    --text-headline: #000;
    --card-shadow: #0082ff;
    --card-height: 140px;
    --card-witght: 140;
    --card-radius: 12px;
    --header-height: 56px;
    --blend-mode: overlay;
    --transition: 0.15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card:nth-child(odd) .card__body-cover-image {
    --x-y1: 100% 90%;
    --x-y2: 67% 83%;
    --x-y3: 33% 90%;
    --x-y4: 0% 85%;
}

.card:nth-child(even) .card__body-cover-image {
    --x-y1: 100% 85%;
    --x-y2: 73% 93%;
    --x-y3: 25% 85%;
    --x-y4: 0% 90%;
}

.card__input {
    position: absolute;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}

.card__input:checked~.card__body {
    --shadow: 0 0 0 3px var(--card-shadow);
}

.card__input:checked~.card__body .card__body-cover-chackbox {
    --chack-bg: var(--background-chackbox);
    --chack-border: #fff;
    --chack-scale: 1;
    --chack-opacity: 1;
}

.card__input:checked~.card__body .card__body-cover-chackbox--svg {
    --stroke-color: #fff;
    --stroke-dashoffset: 0;
}

.card__input:checked~.card__body .card__body-cover:after {
    --opacity-bg: 0;
}

.card__input:checked~.card__body .card__body-cover-image {
    --filter-bg: grayscale(0);
}

.card__input:disabled~.card__body {
    cursor: not-allowed;
    opacity: 0.5;
}

.card__input:disabled~.card__body:active {
    --scale: 1;
}

.card__body {
    display: grid;
    grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
    background: var(--background);
    height: var(--card-height);
    width: var(--card-witght);
    border-radius: var(--card-radius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
    -webkit-transition: box-shadow var(--transition), -webkit-transform var(--transition);
    transition: box-shadow var(--transition), -webkit-transform var(--transition);
    transition: transform var(--transition), box-shadow var(--transition);
    transition: transform var(--transition), box-shadow var(--transition), -webkit-transform var(--transition);
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

.card__body:active {
    --scale: 0.96;
}

.card__body-cover {
    --c-border: var(--card-radius) var(--card-radius) 0 0;
    --c-width: 100%;
    --c-height: 100%;
    position: relative;
    overflow: hidden;
}

.card__body-cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--c-width);
    height: var(--c-height);
    border-radius: var(--c-border);
    background: -webkit-gradient(linear, left top, right bottom, from(var(--background-image)));
    background: linear-gradient(to bottom right, var(--background-image));
    mix-blend-mode: var(--blend-mode);
    opacity: var(--opacity-bg, 1);
    -webkit-transition: opacity var(--transition) linear;
    transition: opacity var(--transition) linear;
}

.card__body-cover-image {
    /* width: 2 * var(--c-width); */
    height: 1 * var(--c-height);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--c-border);
    /* -webkit-filter: var(--filter-bg, grayscale(1));
    filter: var(--filter-bg, grayscale(1)); */
    -webkit-clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
    clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
}

.card__body-cover-chackbox {
    background: var(--chack-bg, var(--background-chackbox));
    border: 2px solid var(--chack-border, #fff);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: var(--chack-opacity, 0);
    transition: transform var(--transition), opacity calc(var(--transition) * 1.2) linear, -webkit-transform var(--transition) ease;
    -webkit-transform: scale(var(--chack-scale, 0));
    transform: scale(var(--chack-scale, 0));
}

.card__body-cover-chackbox--svg {
    width: 13px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 5px;
    stroke: var(--stroke-color, #fff);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--stroke-dashoffset, 16px);
    -webkit-transition: stroke-dashoffset 0.4s ease var(--transition);
    transition: stroke-dashoffset 0.4s ease var(--transition);
}

.card__body-header {
    height: var(--header-height);
    background: var(--background);
    padding: 10px 10px 10px 10px;
}

.card__body-header-title {
    color: var(--text-headline);
    font-weight: 700;
    margin-bottom: 8px;
}

.card__body-header-subtitle {
    color: var(--text-color);
    font-weight: 500;
    font-size: 13px;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    font-family: "Inter", Arial;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: #fafafa;
    color: #000;
}

body .socials {
    position: fixed;
    display: -webkit-box;
    display: flex;
    right: 20px;
    bottom: 20px;
}

body .socials>a {
    display: block;
    height: 28px;
    margin-left: 15px;
}

body .socials>a.dribbble img {
    height: 28px;
}

body .socials>a.twitter svg {
    width: 32px;
    height: 32px;
    fill: #1da1f2;
}

body .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}


/* ---------- Camel Drag and Drop ---------- */

#camel-home, #trap-home, #acce-home {
    display: grid;
    /* grid-template-columns: 120px 120px 120px 120px 120px; */
    grid-template-columns: repeat(5, 140px);
    grid-template-rows: 35px;
    /* justify-content: center; */
    justify-content: space-around;
    align-content: space-around;
    padding-bottom: 4px;
}

#b-camel-home, #g-camel-home, #r-camel-home, #y-camel-home, #w-camel-home,
#trap-1-home, #trap-2-home, #trap-3-home, #trap-4-home, #trap-5-home,
#acce-1-home, #acce-2-home, #acce-3-home, #acce-4-home, #acce-5-home{
    width: 140px;
    height: 35px;
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    position: relative;
    text-align: center;
    padding-top: 4px;
    
}

#b-camel, #g-camel, #r-camel, #y-camel, #w-camel,
#trap-1, #trap-2, #trap-3, #trap-4, #trap-5,
#acce-1, #acce-2, #acce-3, #acce-4, #acce-5 {
    width: 115px;
    height: 23px;
    object-fit: cover;
    object-position: 0% 10%;
    border-radius: 8px;
}

.tile{
    width: 120px;
    height: 24px;
    /* border: 1px solid #aaaaaa; */
    /* border-radius: 5px; */
}

#map-bg {
    width: 600px;
    height: 600px;
    background-image: url("map.png");
    background-size: 600px 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#map {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(25, 24px);
    justify-content: space-around;
    align-content: space-around;
}

/* ---------- Submit Botton ---------- */

#calculation-botton {
    display: block;
    width: 200px;
    height: 45px;
    background-color: #fff;
    color: #000000;
    font-size: 20px;
    font-style: italic;
    border: #787070 1px solid;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* ---------- Result ---------- */
.container {
    display: flex;
    flex-direction: column;
}

.result-section-title {
    margin-bottom: 30px;
}

#result {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: repeat(2, 250px);
    justify-content: space-around;
    align-content: space-around;
}

.result-figure-box {
    width:  250px;
    height: 250px;
}

.result-figure {
    width:  250px;
    height: 250px;
}

#result-final-winner, #result-final-loser {
    padding-left: 30px;
}